<button type="button" class="btn btn-ghost-primary">
    评测报告
</button>
{% include "widgets/model_detail_modal.html" %}
<button type="button" class="btn btn-ghost-primary" data-bs-toggle="modal" data-bs-target="#recordFile">
    备案文件
</button>


<div class="modal" id="recordFile" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">备案文件</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group list-group-flush">
                    {% for item in value.record_file %}
                    <a class="list-group-item list-group-item-action">{{ item }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
