<!-- TODO @xiaomin，这个是标注页面采用的开源项目，您看看对不同的标注方式的用法，以及使用iframe嵌入到现有的前端页面中 -->

<!DOCTYPE html>
<html>

<link href="https://unpkg.com/@heartexlabs/label-studio@1.4.0/build/static/css/main.css" rel="stylesheet">
  <!-- <link href="https://unpkg.com/label-studio/build/static/css/main.css" rel="stylesheet"> -->
  <!-- <link href="https://unpkg.com/label-studio@1.0.1/build/static/css/main.css" rel="stylesheet"> -->
  <!-- Include the Label Studio library -->
  <script src="https://unpkg.com/@heartexlabs/label-studio@1.4.0/build/static/js/main.js"></script>

<body>
  <div id="label-studio"></div>


  <script>
    const root = document.querySelector('#label-studio');
    const labelStudio = new LabelStudio(root, {
  config: `
  <View>
  <Labels name="label" toName="text">
    <Label value="Person" background="red"/>
    <Label value="Organization" background="darkorange"/>
    <Label value="Fact" background="orange"/>
    <Label value="Money" background="green"/>
    <Label value="Date" background="darkblue"/>
    <Label value="Time" background="blue"/>
    <Label value="Ordinal" background="purple"/>
    <Label value="Percent" background="#842"/>
    <Label value="Product" background="#428"/>
    <Label value="Language" background="#482"/>
    <Label value="Location" background="rgba(0,0,0,0.8)"/>
  </Labels>

  <Text name="text" value="$text"/>
</View>
  `,
  interfaces: [
    "panel",
    "update",
    "submit",
    "controls",
    "side-column",
    "skip",
    "instruction",
    "infobar",
    "topbar",
    "annotations:menu",
    "annotations:add-new",
    "annotations:delete",
    "annotations:current",
    "annotations:tabs",
    "annotations:history",
    "annotations:view-all",
    "predictions:menu",
    "predictions:tabs",
    "auto-annotation",
    "edit-history"
  ],
  user: {
    pk: 1,
    firstName: "James",
    lastName: "Dean"
  },
  task: {
    annotations: [],
    predictions: [],
    id: 1,
    data: {
      text: "https://htx-misc.s3.amazonaws.com/opensource/label-studio/examples/images/nick-owuor-astro-nic-visuals-wDifg5xc9Z4-unsplash.jpg"
    }
  }
});

labelStudio.on("labelStudioLoad", (LS) => {
  // Perform an action when Label Studio is loaded
  const c = LS.annotationStore.addAnnotation({
    userGenerate: true
  });
  LS.annotationStore.selectAnnotation(c.id);
  console.log("loading...")
});

labelStudio.on("submitAnnotation", (LS, annotation) => {
  // Retrieve an annotation in JSON format
  console.log(annotation.serializeAnnotation())
});
  </script>
</body>
</html>
