{% extends layout %}
{% block page_body %}

<h1>标注任务</h1>

<style>
    .form-table {
        display: flex;
        flex-direction: column;
    }

    .text {
        float: left;
        width: 50%;
        padding-right: 20px;
    }

    table {
        float: left;
        border-collapse: collapse;
        width: 300px;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ccc;
    }

    th {
        background-color: #f2f2f2;
    }

    .button {
        width: 80px;
        /* 设置按钮宽度为80px */
        height: 40px;
        padding: 10px;
        font-size: 16px;
    }

    .loading-text {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      font-weight: bold;
      animation: jump 1s infinite;
    }

    @keyframes jump {
      0% { transform: translate(-50%, -50%) translateY(0); }
      50% { transform: translate(-50%, -50%) translateY(-10px); }
      100% { transform: translate(-50%, -50%) translateY(0); }
    }

</style>


<div class="form-group">
    <label for="file">标注数据集</label>
    <input type="file" id="file" name="file" value="请选择文件">
</div>


<div class="form-group">
    <div>
        <span>标注方式 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div>
            <input type="checkbox" id="sorting" name="annotationType" value="排序标注">
            <label class="checkbox-label" for="sorting">排序标注</label>
        </div>
        <div>
            <input type="checkbox" id="boundingBox" name="annotationType" value="框选标注">
            <label class="checkbox-label" for="boundingBox">框选标注</label>
        </div>

        <div>
            <input type="checkbox" id="safeAnswer" name="annotationType" value="安全回答">
            <label class="checkbox-label" for="safeAnswer">安全回答</label>
        </div>

        <div>
            <input type="checkbox" id="risk" name="annotationType" value="风险判别">
            <label class="checkbox-label" for="risk">风险判别</label>
            <input type="checkbox" id="risk-level">
            <label for="risk-level">判断风险程度</label>
            <input type="checkbox" id="risk-type">
            <label for="risk-level">判断风险类别</label>
            <select id="risk-grade">
                <option value="一级风险">一级风险类型</option>
                <option value="二级风险">二级风险类型</option>
                <option value="三级风险">三级风险类型</option>
            </select>
        </div>
    </div>

    <div class="form-date">
        <div class="form-group">
            <label for="deadline">截止时间：</label>
            <input type="datetime-local" id="deadline" name="deadline" value="请输入时间">
        </div>
    </div>


    <div class="form-table">
        <div class="text">
            <span>任务分配：</span>
        </div>
        <table id="assignTable" <thead>
            <tr>
                <th>标注员</th>
                <th>题目数量百分比（%）</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div>
        <label for="labelUserName">标注员：</label>
        <select id="labelUserName">
            <option value="">请选择标注员</option>
        </select>
        <label for="quantity">题目数量百分比：</label>
        <input type="number" id="labelQuantity" value="百分比">
        <button onclick="addAssignRow()">添加</button>
    </div>


    <div class="form-table">
        <div class="text">
            <span>审核任务分配</span>
        </div>
        <table id="auditTable" <thead>
            <tr>
                <th>审核员</th>
                <th>题目数量百分比（%）</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <div>
        <label for="auditUserName">审核员：</label>
        <select id="auditUserName">
            <option value="">请选择审核员</option>
        </select>
        <label for="quantity">题目数量百分比：</label>
        <input type="number" id="auditQuantity" value="百分比">
        <button onclick="addAuditRow()">添加</button>
    </div>


    <button class="button" type="submit" id="submitButton" onclick="submitForm()">提交</button>

    <div id="loading-text" class="loading-text" style="display: none;">任务正在创建中，请稍后。。。</div>

    <script>

        // 获取下拉框选项值
        async function fetchUserOptions() {
            // 调用 task/user_ge 接口获取标注员列表
            var userList = await getUserList();
            //   var userList = ['标注员A', '标注员B', '标注员C'];

            var dropdown = document.getElementById('labelUserName');
            dropdown.innerHTML = '<option value="">请选择标注员</option>';

            userList.forEach(function (user) {
                var option = document.createElement('option');
                option.value = user;
                option.text = user;
                dropdown.appendChild(option);
            });

            // 这个是审核表
            var dropdown = document.getElementById('auditUserName');
            dropdown.innerHTML = '<option value="">请选择审核员</option>';

            userList.forEach(function (user) {
                var option = document.createElement('option');
                option.value = user;
                option.text = user;
                dropdown.appendChild(option);
            });
        }

        // 添加新行
        function addAssignRow() {
            var table = document.getElementById('assignTable');
            var username = document.getElementById('labelUserName').value;
            var quantity = document.getElementById('labelQuantity').value;

            if (username && quantity) {
                var row = table.insertRow(-1);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);

                cell1.innerHTML = username;
                cell2.innerHTML = quantity;
                cell3.innerHTML = '<button onclick="deleteRow(this)">删除</button>';

                // 清空输入框
                document.getElementById('labelUserName').value = '';
                document.getElementById('labelQuantity').value = '';
            }
        }


        function addAuditRow() {
            var table = document.getElementById('auditTable');
            var username = document.getElementById('auditUserName').value;
            var quantity = document.getElementById('auditQuantity').value;
            if (username && quantity) {
                var row = table.insertRow(-1);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);

                cell1.innerHTML = username;
                cell2.innerHTML = quantity;
                cell3.innerHTML = '<button onclick="deleteRow(this)">删除</button>';

                // 清空输入框
                document.getElementById('auditUserName').value = '';
                document.getElementById('auditQuantity').value = '';
            }
        }

        // 删除行
        function deleteRow(btn) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }

        // 页面加载时获取下拉框选项值
        window.onload = function () {
            fetchUserOptions();
        };

        function submitForm() {
            // 创建表单对象
            var isSubmitted = false;
            var formData = new FormData();
            var fileInput = document.getElementById('file');
            var file = $('#file')[0].files[0];
            var fileName = file.name; // 获取文件的路径
            var riskData;
            // 读取文件内容
            var fileContent = 'null';
            var annotationTypes = [];
            var checkboxes = document.getElementsByName('annotationType');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    annotationTypes.push(checkboxes[i].value);
                    if(checkboxes[i].value == '风险判别'){
                        riskData = {
                            level: document.getElementById('risk-level').checked,
                            type: document.getElementById('risk-type').checked,
                            grade: document.getElementById('risk-grade').value
                        };
                        // 如果选择了风险判别，level和type都不勾选，就直接报错
                        if(!(riskData.level || riskData.type)){
                            alert("点击了风险判别，则至少要在判断风险程度和判断风险类别两个中勾选一个！")
                            return
                        }
                    }else{
                        riskData = {
                            grade: 'None'
                        }
                    }
                }
            }

            // 对riskData进行检查并且修改risk_grade
            if(riskData.grade != 'None'){
                if(riskData.level){
                    if(riskData.type){
                        // 如果level和type都勾选上了
                        riskData.grade = '风险程度_' + riskData.grade;
                    }
                    else{
                        riskData.grade = '0级风险'
                    }
                }
            }
            var deadlineInput = document.getElementById('deadline');
            var deadline = deadlineInput.value;
            // 用户标注任务分配表
            var assignTable = document.getElementById('assignTable');
            var taskAssignments = [];
            for (var i = 1; i < assignTable.rows.length; i++) {
                var cells = assignTable.rows[i].cells;
                var annotator = cells[0].textContent;
                var taskCount = cells[1].textContent;
                taskAssignments.push({ annotator: annotator, taskCount: taskCount });
            }
            // 审计任务分配表
            var auditTable = document.getElementById('auditTable');
            var auditAssignments = [];
            for (var i = 1; i < auditTable.rows.length; i++) {
                var cells = auditTable.rows[i].cells;
                var auditor = cells[0].textContent;
                var taskCount = cells[1].textContent;
                auditAssignments.push({ auditor: auditor, taskCount: taskCount });
            }
            // 确保taskAssignments，auditAssignments中taskCount之和为100
            var taskTotal = 0;
            for (var assignment of taskAssignments) {
                taskTotal += Number(assignment.taskCount);
            }
            var auditTotal = 0;
            for (var assignment of auditAssignments) {
                auditTotal += Number(assignment.taskCount);
            }
            if (taskTotal != 100) {
                alert("任务分配之和必须为100");
            } else {
                if (auditTotal != 100) {
                    alert("审核分配之和必须为100");
                } else {
                    formData.append('fileName', fileName);
                    formData.append('annotationTypes', JSON.stringify(annotationTypes));
                    formData.append('deadline', deadline);
                    formData.append('file', file);
                    formData.append('taskAssignments', JSON.stringify(taskAssignments));
                    formData.append('auditAssignments', JSON.stringify(auditAssignments));
                    formData.append('riskData', JSON.stringify(riskData));
                    // 调用回调函数，将数据传递给它进行处理
                    // 使用 $.ajax 发送数据到特定的 URL
                    if (!isSubmitted) {
                        isSubmitted = true;
                        $('#submitButton').prop('disabled', true);
                        var loadingText = document.getElementById('loading-text');
                        loadingText.style.display = 'block';
                        $.ajax({
                            type: 'POST',
                            url: '/admin/taskmanage/create_task_callback',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (response) {
                                // 请求成功的处理
                                loadingText.style.display = 'none';
                                // history.back();
                                location.href = '/admin/taskmanage/list';

                                // alert(success);
                            },
                            error: function (error) {
                                // 请求失败的处理
                                alert("当前只接受csv文件或者xlsx文件");
                            }
                        });
                    };
                };
            }
        }


        async function getUserList() {
            const rsp = await fetch('/admin/taskmanage/get_user_list', {
                method: 'get',
            })
            return rsp.json();
        }

    </script>
    </body>

    {% endblock %}
