{% extends layout %}
{% block page_body %}

<form>
    <label for="dataset">选择数据集:</label>
    <select id="dataset" name="dataset">
    </select>
    <br><br>

    <label>选择标注方式:</label>
    <br>
    <input type="checkbox" name="selection" value="0-1"> 0-1标注
    <br>
    <input type="checkbox" name="selection" value="box"> Box标注
    <br>
    <input type="checkbox" name="selection" value="rank"> Rank标注
    <br><br>

    <input type="button" value="提交" onclick="uploadSubmit()">
</form>

    <script>
        fetch('/admin/taskmanage/get_datasets_name')
        .then(response => response.json())
        .then(data => {
            var datasetSelect = document.getElementById('dataset');

            // 动态生成下拉框选项
            data.forEach(dataset => {
                var option = document.createElement('option');
                option.value = dataset;
                option.text = dataset;
                datasetSelect.appendChild(option);
            });

            // 设置被选择的选项
            var selectedOption = "test2"; // 设置为你想要被选择的选项
            datasetSelect.value = selectedOption;
        })
        .catch(error => {
            console.error('Error:', error);
        });



        function uploadSubmit() {
            var datasetSelect = document.getElementById('dataset');
            var selectedDataset = datasetSelect.value;
            // 获取选中的复选框值
            var selectedOptions = [];
            var checkboxes = document.getElementsByName('selection');
            checkboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    selectedOptions.push(checkbox.value);
                }
            });

            // 发送数据
            $.ajax({
                url: '/admin/taskmanage/create_task_callback',
                type: 'POST',
                data: {
                    "dataset_name": selectedDataset,
                    "labeling_method": JSON.stringify(selectedOptions),
                    "test": "test"
                },
                success: function(response) {
                    // 处理成功响应
                    alert("success")
                },
                error: function(xhr, status, error) {
                    // 处理错误
                    console.error("error");
                }
            });
        };
    </script>

{% endblock %}
