{% extends layout %}
{% block page_body %}
<!-- 提供一个标注结果显示，以及下载的按钮 -->
<style>
    .table-responsive {
        overflow: auto;
        /* 添加滚动条 */
    }

    .card-table {
        display: none
    }

    .active {
        display: block
    }

    ul {
        display: flex;
        list-style-type: none;
    }

    .sheet-name {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
    }

    .tab-active {
        color: red
    }

    .yellow {
        background-color: yellow;
    }

    table {
        width: 100%;
        table-layout: auto;
    }

    td {
        word-wrap: break-word;
        white-space: normal;
    }
</style>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script> -->
<!-- use version 0.20.1 -->
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
<script src="https://unpkg.com/exceljs/dist/exceljs.min.js"></script>
<script src="https://unpkg.com/file-saver/dist/FileSaver.min.js"></script>
<div>
    <button id="download">下载Excel</button>
</div>


<div class="table-list">
    <div class="tab-nav">
        <ul></ul>
    </div>

    <div class="card">
        <div class="table-responsive" id="tableContainer">

        </div>
    </div>
</div>



<script>
    const decodedString = '{{sheet_name_list}}'.replace(/&#39;/g, "'")
    const downloadFileName = '{{dataset_name}}'
    const jsonString = decodedString.replace(/'/g, '"')
    const sheetNameList = JSON.parse(jsonString)
    const downloadBtn = document.getElementById('download')
    const reportBtn = document.querySelector('#download_report')
    const sheetPromise = sheetNameList.map((sheetName) => { return create_table(sheetName) })
    Promise.all(sheetPromise).then(() => {
        const tab_nav = document.querySelectorAll(".sheet-name")
        for (let i = 0; i < tab_nav.length; i++) {
            tab_nav[i].addEventListener('mouseenter', function () {
                // 鼠标移动，对应的table增加active class，拥有active的table删除active类
                document.querySelector('.tab-active').classList.remove('tab-active')
                tab_nav[i].classList.add('tab-active')
                document.querySelector('.active').classList.remove('active')
                document.querySelector(`.card-table:nth-child(${i + 1})`).classList.add('active')
            })
        }
        // 给第一个card-table设置active属性
        document.querySelector(`.card-table:first-child`).classList.add('active')
        document.querySelector(`.sheet-name:first-child`).classList.add('tab-active')
    }
    )
    // 状态标识
    downloadBtn.addEventListener('click', async () => {
        // 拼接完整路径
        const path = downloadFileName
        // 生成工作簿
        const workbook = new ExcelJS.Workbook();

        sheetNameList.forEach((sheetName) => {
            const dataTable = document.getElementById(sheetName);
            const worksheet = workbook.addWorksheet(sheetName);
            const rows = dataTable.getElementsByTagName('tr');
            let cells
            for (let i = 0; i < rows.length; i++) {
                const row = rows[i];
                cells = row.getElementsByTagName('td')
                if (i == 0) { cells = row.getElementsByTagName('th') }

                for (let j = 0; j < cells.length; j++) {
                    const cell = cells[j];
                    const cellValue = cell.innerText;
                    const cellStyle = cell.className; // Get the class name for styling
                    const excelCell = worksheet.getCell(i + 1, j + 1);
                    excelCell.value = cellValue;

                    if (cellValue === '已审核_有问题') {
                        for (let k = 0; k < cells.length; k++) {
                            worksheet.getCell(i + 1, k + 1).style = {
                                fill: {
                                    type: 'pattern',
                                    pattern: 'solid',
                                    fgColor: { argb: 'FFFF00' } // Yellow background color
                                    }
                                }
                            }
                        }
                    }
                }
            });

        // 用完整路径保存文件
        workbook.xlsx.writeBuffer().then(function (buffer) {
            saveAs(new Blob([buffer], { type: 'application/octet-stream' }), path);
        });
    });


    // 创建一个新表
    async function create_table(sheetName) {
        return new Promise((resolve, reject) => {
            const tab_nav = document.querySelector(".tab-nav ul")
            const li_label = document.createElement("li")
            li_label.classList.add("sheet-name")
            li_label.textContent = sheetName
            tab_nav.appendChild(li_label)

            var tableHtml = '<table class="table card-table table-vcenter text-nowrap datatable" id="' + sheetName + '">' +
                '<thead>' +
                '<tr>' +
                '<th>问题</th>' +
                '<th>答案</th>' +
                '<th>标注结果</th>' +
                '<th>标注者</th>' +
                '<th>标注状态</th>' +
                '<th>审核结果</th>' +
                '<th>审核者</th>' +
                '<th>模型评价</th>' +
                '<th>模型原因</th>' +
                '<th>审核状态</th>' +
                '</tr>' +
                '</thead>' +
                '<tbody>'


            get_label_data(sheetName).then((data) => {
                for (var i = 0; i < data.length; i++) {
                    label_user_dict = data[i]['labeling_result']
                    audit_user_dict = data[i]['audit_result']
                    let label_user
                    let risk_level
                    let audit_user
                    let audit_risk_level
                    if (label_user_dict == null || label_user_dict == 'None') {
                        label_user = null;
                        risk_level = null;
                    } else {
                        label_user = label_user_dict;
                        // 删除字符串中的单引号
                        var cleanedStr = label_user_dict.replace(/'/g, '"')
                        // 解析字符串为对象
                        var obj = JSON.parse(cleanedStr)
                        // 获取对象的键
                        label_user = Object.keys(obj)[0];
                        risk_level = obj[label_user]['风险程度'];
                    }
                    if (audit_user_dict == null) {
                        audit_user = null;
                        audit_risk_level = null;
                        if (data[i].model_label != 'None' && data[i].model_label != null) {
                            audit_user = '自动审核'
                            audit_risk_level = data[i].model_label
                        }
                    } else {
                        audit_user = audit_user_dict
                        let cleanedStr = audit_user_dict.replace(/'/g, '"')
                        // 解析字符串为对象
                        let obj = JSON.parse(cleanedStr)
                        // 获取对象的键
                        audit_user = Object.keys(obj)[0]
                        audit_risk_level = obj[audit_user]['风险程度'];
                    }

                    let status = data[i].status
                    let questionCell = '<td>' + data[i].question + '</td>';
                    let answerCell = '<td>' + data[i].answer + '</td>';
                    if (status === '已审核_有问题') {
                        console.log("===")
                        questionCell = '<td style="background-color: yellow">' + data[i].question + '</td>';
                        answerCell = '<td style="background-color: yellow">' + data[i].answer + '</td>';
                    }
                    
                    tableHtml += '<tr>' +
                        questionCell +
                        answerCell +
                        '<td>' + risk_level + '</td>' +
                        '<td>' + label_user + '</td>' +
                        '<td>' + data[i].label_status + '</td>' +
                        '<td>' + audit_risk_level + '</td>' +
                        '<td>' + audit_user + '</td>' +
                        '<td>' + data[i].model_label + '</td>' +
                        '<td>' + data[i].model_reason + '</td>' +
                        '<td>' + status + '</td>' +
                        '</tr>';
                }
                tableHtml += '</tbody>' +
                    '</table>';

                var tableContainer = document.getElementById('tableContainer')
                var tempDiv = document.createElement('div')
                tempDiv.innerHTML = tableHtml;
                tableContainer.appendChild(tempDiv.firstChild)
                resolve()
            })
        })
    }




    async function get_label_data(sheet_name) {
        const rsp = await fetch('/admin/taskmanage/get_label_result', {
            method: 'post',
            body: JSON.stringify({ "task_id": '{{task_id}}', "sheet_name": sheet_name }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        return rsp.json()

    }


</script>

{% endblock %}