<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx-populate/1.21.0/xlsx-populate.min.js" integrity="sha512-JVBz6zJ6cvcRjn7GayGJ/dsfYmykXq/O+BG5jqvCotbSkRd7pD/k0q/wqoIKEgXTh9lBxWoInk0DgrDhpXc9JA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<button class="btn btn-ghost-primary report-button" id="btn_{{value.id}}">报告下载</button>
<div class="table-list" style="display: none" id="table_{{value.id}}">
    <div class="tab-nav">
        <ul></ul>
    </div>

    <div class="card">
        <div class="table-responsive" id="tableContainer_{{value.id}}">

        </div>
    </div>
</div>


<script>
    
    document.querySelector(`#btn_{{value.id}}`).addEventListener('click', function(){
        const task_id = '{{value.id}}'
        const dataset = '{{value.dataset}}'
        const sheet_name_list = JSON.parse('{{value.sheet_name_list}}'.replace(/&#39;/g, "'").replace(/'/g, '"'))
        Download(task_id, sheet_name_list, dataset)
    })
    
    function Download(task_id, sheet_name_list, dataset) {
        const sheetPromise = sheet_name_list.map((sheetName)=>{ return create_table(sheetName, task_id)})
        Promise.all(sheetPromise).then(result => {
            const wb = XLSX.utils.book_new();
            sheet_name_list.forEach((sheetName) => {
                const dataTable = document.getElementById(sheetName+'_' + task_id);
                const ws = XLSX.utils.table_to_sheet(dataTable);
                XLSX.utils.book_append_sheet(wb, ws, sheetName);
            });
            const wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });
            // 将二进制数据封装为 Blob 对象
            const blob = new Blob([s2ab(wbout)], { type: 'application/octet-stream' });
            // 创建一个 FormData 对象，并将 Blob 对象添加到其中
            const formData = new FormData()
            formData.append('file', blob, 'report.xlsx')
            let saved_file_name = 'report_' + dataset
            // 使用 Axios 发送 FormData 到后端
            axios.post('/admin/taskmanage/mock_send_file', formData)
                .then(response => {
                    let server_saved_file_name = response.data
                    return axios({
                        method: 'get',
                        url: '/admin/taskmanage/save',
                        responseType: 'blob',  // 设置响应类型为 blob
                        params: {
                            server_saved_file_name,
                            saved_file_name
                        }
                    })
                }).then(res => {
                    // 创建一个可下载的链接，并模拟点击下载
                    const downloadUrl = window.URL.createObjectURL(new Blob([res.data]));
                    const link = document.createElement('a');
                    link.href = downloadUrl;
                    link.setAttribute('download', 'report_' + dataset);  // 设置下载文件的文件名
                    document.body.appendChild(link);
                    link.click();
                    console.log(res)
                }).catch(error => {
                    console.error('Error:', error);
                });
            })
        }   
        // 2. 将数据封装成excel
        // 3. 讲数据发送到另外一个后端函数，返回得到一个excel文件对象
        // 4. 将数据下载到本
    
    function s2ab(s) {
        const buf = new ArrayBuffer(s.length);
        const view = new Uint8Array(buf);
        for (let i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xff;
        return buf;
    }
     // 创建一个新表
    async function create_table(sheetName, task_id){
        return new Promise((resolve, reject) => {
            const tab_nav = document.querySelector(`#table_${task_id} .tab-nav ul`)
            const li_label = document.createElement("li")
            li_label.classList.add("sheet-name")
            li_label.textContent = sheetName
            tab_nav.appendChild(li_label)

            var tableHtml = `<table class="table card-table table-vcenter text-nowrap datatable" id="${sheetName}_${task_id}">` +
                '<thead>' +
                '<tr>' +
                '<th>问题</th>' +
                '<th>答案</th>' +
                '<th>标注结果</th>' +
                '<th>标注者</th>' +
                '<th>审核结果</th>' +
                '<th>审核者</th>' +
                '<th>模型评价</th>' +
                '<th>模型原因</th>' +
                '</tr>' +
                '</thead>' +
                '<tbody>'
            
            get_label_data(sheetName, task_id).then((data) =>{
                for (var i = 0; i < data.length; i++) {
                    label_user_dict = data[i]['labeling_result']
                    audit_user_dict = data[i]['audit_result']
                    let label_user
                    let risk_level
                    let audit_user
                    let audit_risk_level
                    if (label_user_dict == null || label_user_dict == 'None'){
                        label_user = null;
                        risk_level = null;
                    }else{
                        label_user = label_user_dict;
                        // 删除字符串中的单引号
                        var cleanedStr = label_user_dict.replace(/'/g, '"')
                        // 解析字符串为对象
                        var obj = JSON.parse(cleanedStr)
                        // 获取对象的键
                        label_user = Object.keys(obj)[0];
                        risk_level = obj[label_user]['风险程度'];
                    }
                    if (audit_user_dict == null){
                        audit_user = null;
                        audit_risk_level = null;
                        if(risk_level != null && risk_level != 'None'){
                            audit_user = "人工标注结果"
                            audit_risk_level = risk_level
                        }else if(data[i].model_label!='None' && data[i].model_label != null && risk_level == null )
                        {
                            audit_user = '模型标注审核'
                            audit_risk_level = data[i].model_label
                        }
                    } else{
                        audit_user = audit_user_dict
                        let cleanedStr = audit_user_dict.replace(/'/g, '"')
                        // 解析字符串为对象
                        let obj = JSON.parse(cleanedStr)
                        // 获取对象的键
                        audit_user = Object.keys(obj)[0]
                        audit_risk_level = obj[audit_user]['风险程度'];
                    }
                    let status = data[i].status
                    let questionCell = '<td>' + data[i].question + '</td>';
                    let answerCell = '<td>' + data[i].answer + '</td>';
                    if (status === '已审核_有问题') {
                    questionCell = '<td class="yellow">' + data[i].question + '</td>';
                    answerCell = '<td class="yellow">' + data[i].answer + '</td>';
                    }

                    tableHtml += '<tr>' +
                    questionCell +
                    answerCell +
                    '<td>' + risk_level + '</td>' +
                    '<td>' + label_user + '</td>' +
                    '<td>' + audit_risk_level + '</td>' +
                    '<td>' + audit_user + '</td>' +
                    '<td>' + data[i].model_label + '</td>' +
                    '<td>' + data[i].model_reason + '</td>' +
                    '</tr>';
                }
                tableHtml += '</tbody>' +
                    '</table>';

                var tableContainer = document.getElementById('tableContainer_' + task_id)
                var tempDiv = document.createElement('div')
                tempDiv.innerHTML = tableHtml;
                tableContainer.appendChild(tempDiv.firstChild)
                resolve()
            })
        })
    }




    async function get_label_data(sheet_name, task_id){
        const rsp = await fetch('/admin/taskmanage/get_label_result', {
            method: 'post',
            body: JSON.stringify({"task_id": task_id, "sheet_name": sheet_name}),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        return rsp.json()

    }

</script>