{% extends layout %}
{% block page_body %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ _('Export') }} {{ resource_label }}</h3>
            </div>
            <div class="card-body border-bottom py-3">
                <form method="post" action="{{ request.app.admin_path }}/{{ resource }}/export?{{ query }}">
                    <div class="form-group mb-3">
                        <div class="form-label">{{ _('Format') }}</div>
                        <select class="form-select" name="format_" id="format">
                            {% for format_option in format_options %}
                                <option value="{{ format_option }}">{{ format_option }}</option>
                            {% endfor %}
                        </select>
                        {% with id = 'format' %}
                            {% include 'components/../../components/select.html' %}
                        {% endwith %}
                    </div>
                    {% include "components/../../components/select.html" %}
                    <div class="form-footer btn-list">
                        <button type="submit" name="export" class="btn btn-primary">{{ _('Export') }}</button>
                        <button type="button" class="btn btn-secondary"
                                onclick="history.back()">{{ _('return') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
