{% extends "base.html" %}
{% block body %}
    <div class="wrapper vh-100 d-flex flex-column">
        <header class="navbar navbar-expand-md navbar-dark d-print-none">
            <div class="container-xl">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                    {% if request.app.logo_url %}
                        <a href=".">
                            <img src="{{ request.app.logo_url }}" width="110" height="32" alt="Tabler"
                                 class="navbar-brand-image">
                        </a>
                    {% endif %}
                    {% if request.app.site_title %}
                        <h1 class="navbar-brand navbar-brand-autodark">
                            <a href=".">{{ request.app.site_title }}</a>
                        </h1>
                    {% endif %}
                </h1>
                <div class="navbar-nav flex-row order-md-last">
                    {% if request.app.search_provider %}
                        {% include "providers/search/search.html" %}
                    {% endif %}
                    {% if request.app.language_switch %}
                        {% include "components/language.html" %}
                    {% endif %}
                    {% if request.app.notification_provider %}
                        {% include "providers/notification/notification.html" %}
                    {% endif %}
                    {% if request.app.login_provider %}
                        {% include "providers/login/avatar.html" %}
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="navbar navbar-light">
                    <div class="container-xl">
                        <ul class="navbar-nav">
                            {% for resource in resources %}
                                {% if resource.type == 'link' %}
                                    {% include 'components/link.html' %}
                                {% elif resource.type == 'model' %}
                                    {% include 'components/model.html' %}
                                {% elif resource.type =='dropdown' %}
                                    {% include 'components/dropdown.html' %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="container-xl">
                <div class="page-header d-print-none">
                    {% block page_header %}
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="page-pretitle">{{ page_pre_title or '' }}</div>
                                <h2 class="page-title">{{ page_title or '' }}</h2>
                            </div>
                        </div>
                        {% block page_title_actions %}
                        {% endblock %}
                    {% endblock %}
                </div>
            </div>
            <div class="page-body">
                <div class="container-xl">
                    <div class="row row-deck row-cards">
                        {% block page_body %} {% endblock %}
                    </div>
                </div>
            </div>
            {% block footer %}
                {% include "components/footer.html" %}
            {% endblock %}
        </div>
    </div>
    {% if request.app.search_provider %}
        <script>
            let url = '{{ request.app.admin_path }}{{ request.app.search_provider.path }}';
            $('#site-search').on('input', function () {
                let search_text = $(this).val();
                $.get(url + '?search_text=' + search_text, function (res) {
                    $('#search-result').html(res);
                })
            });
        </script>
    {% endif %}
{% endblock %}
