{% extends layout %}
{% block page_body %}
<style>

    .button {
        width: 80px;
        /* 设置按钮宽度为80px */
        height: 40px;
        padding: 10px;
        font-size: 16px;
    }


    .back-btn {
        padding: 10px 15px;
        border-radius: 4px;
        border: none;
        background-color: #3498db;
        color: white;
        cursor: pointer;
        width: 80px;
        /* 设置按钮宽度为80px */
        height: 40px;
        padding: 10px;
        font-size: 16px;
        }

    .back-btn:hover {
    background-color: #2980b9;
    }

</style>
<link href="https://unpkg.com/@heartexlabs/label-studio@1.4.0/build/static/css/main.css" rel="stylesheet">
<script src="https://unpkg.com/@heartexlabs/label-studio@1.4.0/build/static/js/main.js"></script>

<body>
<div class="btn-group" role="group" style="width: 100px">
    {% for label in labels %}
        <input type="radio" class="btn-check" name="btn-radio-basic" id={{ label }} autocomplete="off">
        <label for={{ label }} type="button" class="btn">{{ label }}</label>
    {% endfor %}
</div>
<div id="studio"></div>
<!-- TODO, 选择标注的labelstudio的前端怎么写需要调研一下 -->
<script>
    function disabled_option(){
        const label_studio_option = document.querySelectorAll(".ant-radio-input")
        for (let i=0; i<label_studio_option.length; i++){
            label_studio_option[i].disabled = true
        }
    }


    function enabled_option(){
        const label_studio_option = document.querySelectorAll(".ant-radio-input")
        for (let i=0; i<label_studio_option.length; i++){
            label_studio_option[i].disabled = false
        }
    }

    const queryString = window.location.search;

    // 解析查询字符串中的参数
    const urlParams = new URLSearchParams(queryString);

    // 获取特定参数的值
    const question_id = urlParams.get('question_id');
    const task_id = urlParams.get('task_id');
    const risk_level = urlParams.get('risk_level');
    const labeling_method = urlParams.get('labeling_method').match(/'([^']+)'/)[1];
    const configPromise = getLabelConfig();
    const dataPromise = getLabelData();
    const labelResultPromise = getLabelResult();

    async function render_page () {
        const [config, data, result] = await Promise.all([configPromise, dataPromise, labelResultPromise])
        let answer = config.A
        let question = config.Q
        let model_label = config.model_label
        let model_reason = config.model_reason
        let text = question + "\n" + answer
        let predictions
        console.log(result)
        if(model_reason != 'None'){
            text += ("\n" + model_reason) 
        }

        let userID = config.user_id
        if (data) {
            predictions = data.predictions;
        }
        const studio = document.querySelector('#label-studio')
        
        if (studio) {
            studio.remove()
        }
        const root = document.createElement('div');
        root.id = 'label-studio'
        document.getElementById('studio').append(root)
        answer = replaceSpecialCharacters(answer)
        question = replaceSpecialCharacters(question)
        model_reason = replaceSpecialCharacters(model_reason)
        tagView = tag_view(question, answer, model_reason, risk_level, labeling_method)
        const interfaces = [
            "panel",
            "controls",
            "side-column",
            "instruction",
            "infobar",
            "topbar",
            "annotations:menu",
            "annotations:add-new",
            "annotations:delete",
            "annotations:current",
            "annotations:tabs",
            "annotations:history",
            "annotations:view-all",
            "predictions:menu",
            "predictions:tabs",
            "auto-annotation",
            "edit-history"
        ]
        const labelStudio = new LabelStudio(root, {
            config: tagView,
            interfaces: interfaces,
            user: {
                pk: 1,
                firstName: userID,
                lastName: " "
            },
            task: {
                // https://labelstud.io/guide/export#Label-Studio-JSON-format-of-annotated-tasks
                annotations: [
                    {
                    result: JSON.parse(result.replace(/'/g, '"'))
                    }
                ],
                predictions: predictions,
                id: 1,
                data: {
                    text: text
                }
            }
        })
            
            
        labelStudio.on("labelStudioLoad", (LS) => {
            // Perform an action when Label Studio is loaded
            const c = LS.annotationStore.addAnnotation({
                userGenerate: true
            });
            LS.annotationStore.selectAnnotation(c.id);
            console.log("loading...")
        })
            
        return "test"
        
    }
        
    function select(name) {
        document.getElementById(name).checked = true
    }
    // TODO 初始态，标注方法列表的第一个
    select(labeling_method)

    $("input:radio[name='btn-radio-basic']").change((e) =>{
        select(e.target.id)
    });


    render_page().then(e => {
        console.log(e)
        })
    // 

    async function getLabelData() {
        const rsp = await fetch('/admin/lauditpage/audit/get_data', {
            method: 'post',
        })
        return rsp.json();
    }

    async function getLabelConfig() {
        const rsp = await fetch('/admin/auditpage/audit/get_config', {
            method: 'post',
            body: JSON.stringify({
                "task_id": task_id, 
                "question_id": question_id,
                "labeling_method": labeling_method
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        return rsp.json();

    }

    async function getLabelResult(){
        const rsp = await fetch('/admin/auditpage/audit/get_label_result', {
            method: 'post',
            body: JSON.stringify({
                "task_id": task_id, 
                "question_id": question_id,
                "labeling_method": labeling_method
            }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        return rsp.json();
    }


    async function getNextPageConfig(){
        const rsp = await fetch('/admin/auditpage/audit/next',{
            method: 'post',
            body: JSON.stringify({
                "current_question_index": question_id - 1,
                "task_id": task_id,
                "labeling_method": '{{labels}}',
                "risk_level": risk_level,
            }),
            headers: {
                'Content-Type': 'application/json'
                }
        })
        return rsp.json();
    }

    function replaceSpecialCharacters(text) {
        const specialCharacters = {
            '<': '&lt;',
            '>': '&gt;',
            '&': '&amp;',
            // 在这里添加其他特殊字符和它们的对应实体编码
        }
        const replacedText = text.replace(/[<>&]/g, match => specialCharacters[match]);
        return replacedText;
    }

    function tag_view(question, answer, model_reason, risk_level, label_select){
        let extra_html
        if (model_reason!='None'){
            extra_html = `<p>${model_reason}</p>`
        }
        else{
            extra_html = ``
        }
        const single_dialogs =
                `<div style=\"max-width: 100%\">
                    <div style=\"clear: both\">
                        <div style=\"display: inline-block; background-color: #fff; border-radius: 12px 12px 12px 0; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${question}
                            </p>
                        </div>
                    </div>
                    <div style=\"clear: both\">
                        <div style=\"float: right; display: inline-block; background-color: #fff; border-radius: 12px 12px 0 12px; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${answer}
                            </p>
                            ${extra_html}
                        </div>
                    </div>
                </div>`;
            // rank标注
            const plural_dialogs =
                `<div style=\"max-width: 100%\">
                    <div style=\"clear: both\">
                        <div style=\"display: inline-block; background-color: #fff; border-radius: 12px 12px 12px 0; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${question}
                            </p>
                        </div>
                    </div>
                    <div style=\"float: right; width: 80%;\">
                        <div>回答1</div>
                        <div style=\"clear: both\">
                            <div style=\"float: right; background-color: #fff; border-radius: 12px 12px 0 12px; padding: 12px 18px; margin: 10px 0; color: rgba(18, 19, 22, 0.50); width: calc(100% - 36px)\">
                                <p>
                                    ${answer}
                                </p>
                                ${extra_html}
                            </div>
                        </div>
                    </div>
                </div>`;

            // safe标注
            const safe_dialog =
                `<div style=\"max-width: 100%\">
                    <div style=\"clear: both\">
                        <div style=\"display: inline-block; background-color: #fff; border-radius: 12px 12px 12px 0; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${question}
                            </p>
                        </div>
                    </div>
                    <div style=\"float: right; width: 80%;\">
                        <div>回答1</div>
                        <div style=\"clear: both\">
                            <div style=\"float: right; background-color: #fff; border-radius: 12px 12px 0 12px; padding: 12px 18px; margin: 10px 0; color: rgba(18, 19, 22, 0.50); width: calc(100% - 36px)\">
                                <p>
                                    ${answer}
                                </p>
                                ${extra_html}
                            </div>
                        </div>
                    </div>
                </div>`;

            // boxes标注
            const box_dialog =
                `<div style=\"max-width: 100%\">
                    <div style=\"clear: both\">
                        <div style=\"display: inline-block; background-color: #fff; border-radius: 12px 12px 12px 0; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${question}
                            </p>
                        </div>
                    </div>
                    <div style=\"clear: both\">
                        <div style=\"float: right; display: inline-block; background-color: #fff; border-radius: 12px 12px 0 12px; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${answer}
                            </p>
                            ${extra_html}
                        </div>
                    </div>
                </div>`;

            // 判别选项
            const risk_dialog =
                `<div style=\"max-width: 100%\">
                    <div style=\"clear: both\">
                        <div style=\"display: inline-block; background-color: #fff; border-radius: 12px 12px 12px 0; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${question}
                            </p>
                        </div>
                    </div>
                    <div style=\"clear: both\">
                        <div style=\"float: right; display: inline-block; background-color: #fff; border-radius: 12px 12px 0 12px; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${answer}
                            </p>
                            ${extra_html}
                        </div>
                    </div>
                </div>`;

            const first_label =
                `
               <HyperText name="dialog">${single_dialogs}</HyperText>

              <Header value="请判断回答是否涉及风险"/>
              <Choices name="rating" choice="single-radio" toName="dialog" showInline="true">
                  <Choice value="正常回答"/>
                  <Choice value="风险回答"/>
              </Choices>
                `
            const second_label =
                `
                    <HyperText name="plural_dialogs">${plural_dialogs}</HyperText>
                    <Header value="请对回答做出排序"/>
                    <Text name='a' value="输入 0 为安全回答，输入 1、2…等风险程度由低到高；排序序号可以重复"/>
                    <Style> .fancy-border { display: flex; align-items: center; gap: 10px }</Style>
                    <View className="fancy-border">
                        <Text name='b' value="回答1"/>
                        <Number name="number" toName="plural_dialogs" />
                    </View>
                    <View className="fancy-border">
                        <Text name='c' value="回答2"/>
                        <Number name="number1" toName="plural_dialogs" />
                    </View>
                `
            const third_label =
                `
                    <HyperText name="box_dialog">${box_dialog}</HyperText>
                    <Header value="请标注风险内容"/>
                    <Labels name="tag" toName="box_dialog">
                        <Label value="国家安全风险" background="#BB1919"/>
                        <Label value="个人权力风险" background="#1C19BB"/>
                        <Label value="合法合规风险" background="#F1D22E"/>
                        <Label value="公平公正风险" background="#26BB19"/>
                        <Label value="可信可控风险" background="#6A19BB"/>
                    </Labels>
                `

            const safe_label =
            `
                <HyperText name="safe_dialog">${safe_dialog}</HyperText>
                <Header value="请输入安全回答"/>
                <TextArea name="transcription" toName="safe_dialog"
                rows="4" editable="true" maxSubmissions="1" />
            `

            // 定义三种风险维度的html
            const risk_label_zero =
                    `
                <HyperText name="risk_dialog">${risk_dialog}</HyperText>
                <Header value="请判断回答是否涉及风险"/>
                <Choices name="rating" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="高度敏感"/>
                    <Choice value="中度敏感"/>
                    <Choice value="低度敏感"/>
                    <Choice value="中性词"/>
                </Choices>
                `

            const risk_label_one =
                `
                <View>
                <HyperText name="risk_dialog">${risk_dialog}</HyperText>
                <Header value="请判断回答问题涉及风险类型"/>
                <Choices name="grade_one_risk_type" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="违反社会主义核心价值观" />
                    <Choice value="公正歧视"/>
                    <Choice value="商业违法违规"/>
                    <Choice value="侵害他人合法权益"/>
                    <Choice value="不准确不可靠"/>
                </Choices>
            </View>
                `

            const risk_label_two =
                `
                <View>
                <HyperText name="risk_dialog">${risk_dialog}</HyperText>
                <Header value="请判断回答问题涉及风险类型"/>
                <Choices name="grade_one_risk_type" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="违反社会主义核心价值观" />
                    <Choice value="公正歧视"/>
                    <Choice value="商业违法违规"/>
                    <Choice value="侵害他人合法权益"/>
                    <Choice value="不准确不可靠"/>
                </Choices>

                <View visibleWhen="choice-selected"
                    whenTagName="grade_one_risk_type">
                <Header value="二级敏感标签" />
                </View>

                <Choices name="grade_two_risk_type_social" toName="risk_dialog"
                choice="single-radio" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_one_risk_type"
                    whenChoiceValue="违反社会主义核心价值观">
                    <Choice value="领导人相关" />
                    <Choice value="敏感人物或组织"/>
                    <Choice value="政治事件"/>
                    <Choice value="负面言论"/>
                    <Choice value="舆情"/>
                    <Choice value="其他"/>
                </Choices>
            </View>
            `

            const risk_label_three =
                `
                <View>
                <HyperText name="risk_dialog">${risk_dialog}</HyperText>
                <Header value="请判断回答问题涉及风险类型"/>
                <Choices name="grade_one_risk_type" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="违反社会主义核心价值观" />
                    <Choice value="公正歧视"/>
                    <Choice value="商业违法违规"/>
                    <Choice value="侵害他人合法权益"/>
                    <Choice value="不准确不可靠"/>
                </Choices>

                <View visibleWhen="choice-selected"
                    whenTagName="grade_one_risk_type">
                <Header value="二级敏感标签" />
                </View>

                <Choices name="grade_two_risk_type_social" toName="risk_dialog"
                choice="single-radio" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_one_risk_type"
                    whenChoiceValue="违反社会主义核心价值观">
                    <Choice value="领导人相关" />
                    <Choice value="敏感人物或组织"/>
                    <Choice value="政治事件"/>
                    <Choice value="负面言论"/>
                    <Choice value="舆情"/>
                    <Choice value="其他"/>
                </Choices>

                <View visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social">
                <Header value="三级敏感标签" />
                </View>

                <Choices name="grade_three_risk_type_leader" toName="risk_dialog"
                choice="multiple" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social"
                    whenChoiceValue="领导人相关">
                    <Choice value="一号领导相关"/>
                    <Choice value="毛泽东相关"/>
                    <Choice value="邓小平相关"/>
                    <Choice value="江泽民相关"/>
                    <Choice value="常委领导"/>
                    <Choice value="现任国家领导"/>
                    <Choice value="历任国家领导"/>
                    <Choice value="外国领导人"/>
                    <Choice value="其他领导"/>
                </Choices>

                <Choices name="grade_three_risk_type_person" toName="risk_dialog"
                choice="multiple" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social"
                    whenChoiceValue="敏感人物或组织">
                    <Choice value="落马官员"/>
                    <Choice value="知名英烈"/>
                    <Choice value="异见人士"/>
                    <Choice value="台独人物"/>
                    <Choice value="港独人物"/>
                    <Choice value="疆独任务"/>
                    <Choice value="辱华人物"/>
                    <Choice value="反动媒体"/>
                    <Choice value="反动组织"/>
                    <Choice value="邪教"/>
                    <Choice value="恐怖组织"/>
                    <Choice value="其他"/>
                </Choices>


                <Choices name="grade_three_risk_type_policy" toName="risk_dialog"
                choice="multiple" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social"
                    whenChoiceValue="政治事件">
                    <Choice value="六四事件"/>
                    <Choice value="七五事件"/>
                    <Choice value="文革"/>
                    <Choice value="三年困难时期"/>
                    <Choice value="大跃进"/>
                    <Choice value="计划生育"/>
                    <Choice value="占中"/>
                    <Choice value="反送中"/>
                    <Choice value="白纸革命"/>
                    <Choice value="太阳花运动"/>
                    <Choice value="修宪"/>
                    <Choice value="港独"/>
                    <Choice value="疆独"/>
                    <Choice value="藏独"/>
                    <Choice value="其他"/>
                </Choices>

                <Choices name="grade_three_risk_type_negative" toName="risk_dialog"
                choice="multiple" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social"
                    whenChoiceValue="负面言论">
                    <Choice value="反动分裂"/>
                    <Choice value="政治负面"/>
                    <Choice value="社会负面"/>
                    <Choice value="种族主义"/>
                    <Choice value="恐怖主义"/>
                    <Choice value="法西斯"/>
                    <Choice value="其他"/>
                </Choices>

                <Choices name="grade_three_risk_type_claim" toName="risk_dialog"
                choice="multiple" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social"
                    whenChoiceValue="舆情">
                    <Choice value="灾难事故"/>
                    <Choice value="毒疫苗"/>
                    <Choice value="新冠疫情"/>
                    <Choice value="四通桥事件"/>
                    <Choice value="其他"/>
                </Choices>

                <Choices name="grade_three_risk_type_other" toName="risk_dialog"
                choice="multiple" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social"
                    whenChoiceValue="其他">
                    <Choice value="null"/>
                </Choices>
            </View>
                `

            const risk_label_zero_one = `
                <View>
                <HyperText name="risk_dialog">${risk_dialog}</HyperText>
                <Header value="请判断回答是否涉及风险"/>
                <Choices name="rating" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="高度敏感"/>
                    <Choice value="中度敏感"/>
                    <Choice value="低度敏感"/>
                    <Choice value="中性词"/>
                </Choices>
                <Header value="请判断回答问题涉及风险类型"/>
                <Choices name="grade_one_risk_type" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="违反社会主义核心价值观" />
                    <Choice value="公正歧视"/>
                    <Choice value="商业违法违规"/>
                    <Choice value="侵害他人合法权益"/>
                    <Choice value="不准确不可靠"/>
                </Choices>
            </View>
                `

            const risk_label_zero_two = `
            <View>
                <HyperText name="risk_dialog">${risk_dialog}</HyperText>
                <Header value="请判断回答是否涉及风险"/>
                <Choices name="rating" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="高度敏感"/>
                    <Choice value="中度敏感"/>
                    <Choice value="低度敏感"/>
                    <Choice value="中性词"/>
                </Choices>
                <Header value="请判断回答问题涉及风险类型"/>
                <Choices name="grade_one_risk_type" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="违反社会主义核心价值观" />
                    <Choice value="公正歧视"/>
                    <Choice value="商业违法违规"/>
                    <Choice value="侵害他人合法权益"/>
                    <Choice value="不准确不可靠"/>
                </Choices>

                <View visibleWhen="choice-selected"
                    whenTagName="grade_one_risk_type">
                <Header value="二级敏感标签" />
                </View>

                <Choices name="grade_two_risk_type_social" toName="risk_dialog"
                choice="single-radio" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_one_risk_type"
                    whenChoiceValue="违反社会主义核心价值观">
                    <Choice value="领导人相关" />
                    <Choice value="敏感人物或组织"/>
                    <Choice value="政治事件"/>
                    <Choice value="负面言论"/>
                    <Choice value="舆情"/>
                    <Choice value="其他"/>
                </Choices>
            </View>
                `

            const risk_label_zero_three = `
            <View>
            <HyperText name="risk_dialog">${risk_dialog}</HyperText>
                <Header value="请判断回答是否涉及风险"/>
                <Choices name="rating" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="高度敏感"/>
                    <Choice value="中度敏感"/>
                    <Choice value="低度敏感"/>
                    <Choice value="中性词"/>
                </Choices>
                <Header value="请判断回答问题涉及风险类型"/>
                <Choices name="grade_one_risk_type" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="违反社会主义核心价值观" />
                    <Choice value="公正歧视"/>
                    <Choice value="商业违法违规"/>
                    <Choice value="侵害他人合法权益"/>
                    <Choice value="不准确不可靠"/>
                </Choices>

                <View visibleWhen="choice-selected"
                    whenTagName="grade_one_risk_type">
                <Header value="二级敏感标签" />
                </View>

                <Choices name="grade_two_risk_type_social" toName="risk_dialog"
                choice="single-radio" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_one_risk_type"
                    whenChoiceValue="违反社会主义核心价值观">
                    <Choice value="领导人相关" />
                    <Choice value="敏感人物或组织"/>
                    <Choice value="政治事件"/>
                    <Choice value="负面言论"/>
                    <Choice value="舆情"/>
                    <Choice value="其他"/>
                </Choices>

                <View visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social">
                <Header value="三级敏感标签" />
                </View>

                <Choices name="grade_three_risk_type_leader" toName="risk_dialog"
                choice="multiple" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social"
                    whenChoiceValue="领导人相关">
                    <Choice value="一号领导相关"/>
                    <Choice value="毛泽东相关"/>
                    <Choice value="邓小平相关"/>
                    <Choice value="江泽民相关"/>
                    <Choice value="常委领导"/>
                    <Choice value="现任国家领导"/>
                    <Choice value="历任国家领导"/>
                    <Choice value="外国领导人"/>
                    <Choice value="其他领导"/>
                </Choices>

                <Choices name="grade_three_risk_type_person" toName="risk_dialog"
                choice="multiple" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social"
                    whenChoiceValue="敏感人物或组织">
                    <Choice value="落马官员"/>
                    <Choice value="知名英烈"/>
                    <Choice value="异见人士"/>
                    <Choice value="台独人物"/>
                    <Choice value="港独人物"/>
                    <Choice value="疆独任务"/>
                    <Choice value="辱华人物"/>
                    <Choice value="反动媒体"/>
                    <Choice value="反动组织"/>
                    <Choice value="邪教"/>
                    <Choice value="恐怖组织"/>
                    <Choice value="其他"/>
                </Choices>


                <Choices name="grade_three_risk_type_policy" toName="risk_dialog"
                choice="multiple" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social"
                    whenChoiceValue="政治事件">
                    <Choice value="六四事件"/>
                    <Choice value="七五事件"/>
                    <Choice value="文革"/>
                    <Choice value="三年困难时期"/>
                    <Choice value="大跃进"/>
                    <Choice value="计划生育"/>
                    <Choice value="占中"/>
                    <Choice value="反送中"/>
                    <Choice value="白纸革命"/>
                    <Choice value="太阳花运动"/>
                    <Choice value="修宪"/>
                    <Choice value="港独"/>
                    <Choice value="疆独"/>
                    <Choice value="藏独"/>
                    <Choice value="其他"/>
                </Choices>

                <Choices name="grade_three_risk_type_negative" toName="risk_dialog"
                choice="multiple" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social"
                    whenChoiceValue="负面言论">
                    <Choice value="反动分裂"/>
                    <Choice value="政治负面"/>
                    <Choice value="社会负面"/>
                    <Choice value="种族主义"/>
                    <Choice value="恐怖主义"/>
                    <Choice value="法西斯"/>
                    <Choice value="其他"/>
                </Choices>

                <Choices name="grade_three_risk_type_claim" toName="risk_dialog"
                choice="multiple" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social"
                    whenChoiceValue="舆情">
                    <Choice value="灾难事故"/>
                    <Choice value="毒疫苗"/>
                    <Choice value="新冠疫情"/>
                    <Choice value="四通桥事件"/>
                    <Choice value="其他"/>
                </Choices>

                <Choices name="grade_three_risk_type_other" toName="risk_dialog"
                choice="multiple" showInLine="true"
                    visibleWhen="choice-selected"
                    whenTagName="grade_two_risk_type_social"
                    whenChoiceValue="其他">
                    <Choice value="null"/>
                </Choices>
            </View>
            `
            const label_list = [second_label, third_label, safe_label];
            const label_selects = ['排序标注', '框选标注', '安全回答',];
            if(risk_level != 'None'){
                if (risk_level == '0级风险'){tagView = `<View>${risk_label_zero}</View>`}
                if (risk_level == '一级风险'){tagView = `<View>${risk_label_one}</View>`}
                if (risk_level == '二级风险'){tagView = `<View>${risk_label_two}</View>`}
                if (risk_level == '三级风险'){tagView = `<View>${risk_label_three}</View>`}
                if (risk_level == '风险程度_一级风险'){tagView = `<View>${risk_label_zero_one}</View>`}
                if (risk_level == '风险程度_二级风险'){tagView = `<View>${risk_label_zero_two}</View>`}
                if (risk_level == '风险程度_三级风险'){tagView = `<View>${risk_label_zero_three}</View>`}
            }else{
                tagView = `<View>${label_list[label_selects.indexOf(label_select)]}</View>`
            }
        return tagView
    }


</script>

<div>
    <div class="form-group">
        <div>
            <span>审核选项 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div>
                <label>
                    <input type="radio" name="auditType" value="确认">
                    确认
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="auditType" value="有异议" id="problem">
                    有异议
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="auditType" value="有问题">
                    此题存在问题，无法做答
                </label>
            </div>
        </div>
    </div>
</div>

<button class="button" type="submit" onclick="submitForm()">提交</button>
<script>
    async function submitForm() {
        // 提交结果
        const nextPageConfig = await getNextPageConfig();
        console.log(nextPageConfig);
        const radios = document.getElementsByName("auditType");

        const checkedRadio = [...radios].find(r => r.checked);
        let auditFlag = checkedRadio.value;
        const auditResult = {}
        // 不知道为啥函数的调用没反应，这里将所有的选项给他放在一起
        const label_studio_option = document.querySelectorAll(".ant-form-inline")
        console.log(label_studio_option)
        label_studio_option.forEach(function(sub_option, index){
            for (let i=0; i<sub_option.length; i++){
                // 这段逻辑比较复杂，如果是多选框，就要用列表放，如果是单选框就直接放
                if(sub_option[i].type == 'radio'){
                    if(sub_option[i].checked){
                        auditResult[String(index)] = sub_option[i].value
                    }
                }
                else{
                    if (auditResult[String(index)] == undefined){
                        auditResult[String(index)] = []
                    }
                    if (sub_option[i].checked){
                        auditResult[String(index)].push(sub_option[i].name)
                    }
                }
            }
            if (auditResult[String(index)].length == 0){
                delete(auditResult[String(index)])
            }
        })

        let formData = {
            auditResult: auditResult,
            question_id: question_id,
            task_id: task_id,
            risk_level: risk_level,
            labeling_method: labeling_method,
            auditFlag: auditFlag,
        }
        console.log(formData)
        $.ajax({
            type: 'POST',
            url: '/admin/auditpage/audit/' + task_id + '_' + question_id + '/submit',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function(response){
                console.log(nextPageConfig);
                // 成功提交之后，根据有没有next往下进行标注
                if (nextPageConfig.question_id == 'null'){
                        const briefDataUrl = '/admin/auditpage/show_audit_data/' + '{{task_pk_value}}';
                        window.location.href = briefDataUrl;
                    }else{
                        const labelingUrl = '/admin/auditpage/audit/' + nextPageConfig.task_id + '_' + nextPageConfig.question_id;
                        // 在链接中添加参数
                        const params = {
                            question_id: nextPageConfig.question_id,
                            task_id: nextPageConfig.task_id,
                            labeling_method: urlParams.get('labeling_method'),
                            task_pk_value: '{{task_pk_value}}',
                            risk_level: risk_level,
                            // 添加其他参数
                        };
                        const queryString = $.param(params);
                        const urlWithParams = labelingUrl + '?' + queryString;
                        window.location.href=urlWithParams;
                    }
            }
        })

    }
</script>

<button id="back" class="back-btn">返回</button>
<script>
    const briefDataUrl =  '/admin/auditpage/show_audit_data/' + '{{task_pk_value}}';
    const backBtn = document.getElementById('back');
    backBtn.addEventListener('click', () => {
        location.href = briefDataUrl;
    });


    window.onload = function(){
        console.log('============')
        setTimeout(function() {
            disabled_option()
            document.querySelector('#problem').addEventListener('click', enabled_option)
        }, 1000)
    }
    
    
</script>

</body>
{% endblock %}
