<div class="modal" id='detail{{ risk.risk_id }}' tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">风险详情</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <div class="col-3">风险类型</div>
                    <div class="col">{{ risk.risk_name }}</div>
                </div>
                <div class="mb-3 row">
                    <div class="col-3">数据集数量</div>
                    <div class="col">{{ risk.dataset.dataset_count }}</div>
                </div>
                <div class="mb-3 row">
                    <div class="col-3">语料数量</div>
                    <div class="col">{{ risk.dataset.dataset_word_cnt }}</div>
                </div>
                <div class="mb-3 row">
                    <div class="col-3">数据集</div>
                    <div class="col">
                        <div style="background: #F9F9F9; max-height: 300px; overflow: auto; padding: 8px 12px">
                            {% for dataset_name in risk.dataset.dataset_name_list %}
                                <div>{{ dataset_name }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>