{% extends layout %}
{% block page_body %}
<div class="row">
    <div class="col">
       <div class="mb-4">
           <div class="btn-group-vertical w-100" role="group">
              <input type="radio" class="btn-check" name="btn-radio-vertical" id="btn-radio-vertical-1" autocomplete="off" checked="">
              <label for="btn-radio-vertical-1" type="button" class="btn">Button 1</label>
              <input type="radio" class="btn-check" name="btn-radio-vertical" id="btn-radio-vertical-2" autocomplete="off">
              <label for="btn-radio-vertical-2" type="button" class="btn">Button 2</label>
              <input type="radio" class="btn-check" name="btn-radio-vertical" id="btn-radio-vertical-3" autocomplete="off">
              <label for="btn-radio-vertical-3" type="button" class="btn">Button 3</label>
              <input type="radio" class="btn-check" name="btn-radio-vertical" id="btn-radio-vertical-4" autocomplete="off">
              <label for="btn-radio-vertical-4" type="button" class="btn">Button 4</label>
              <input type="radio" class="btn-check" name="btn-radio-vertical" id="btn-radio-vertical-5" autocomplete="off">
              <label for="btn-radio-vertical-5" type="button" class="btn">Button 5</label>
           </div>
       </div>
        <div class="mb-20">
            <div>1234</div>
        </div>
    </div>
</div>
{% endblock %}