{% extends layout %}
{% block page_body %}
<link href="https://unpkg.com/@heartexlabs/label-studio@1.4.0/build/static/css/main.css" rel="stylesheet">
<script src="https://unpkg.com/@heartexlabs/label-studio@1.4.0/build/static/js/main.js"></script>

<body>

<div id="label-studio"></div>

<script>
    // TODO 后续填上label配置数据
    function getLabelConfig() {
        $.ajax({
            url: '/',
            method: 'get',
            success: function (e) {
                console.log(e);
                const tags = [
                    {
                        value: 'Person',
                        background: 'red'
                    },
                    {
                        value: 'Organization',
                        background: 'darkorange'
                    },
                    {
                        value: 'Fact',
                        background: 'orange'
                    },
                    {
                        value: 'Person',
                        background: 'red'
                    },
                    {
                        value: 'Money',
                        background: 'green'
                    },
                    {
                        value: 'Date',
                        background: 'darkblue'
                    },
                    {
                        value: 'Time',
                        background: 'blue'
                    },
                    {
                        value: 'Ordinal',
                        background: 'purple'
                    },
                    {
                        value: 'Percent',
                        background: '#842'
                    },
                    {
                        value: 'Product',
                        background: '#428'
                    },
                    {
                        value: 'Language',
                        background: '#482'
                    },
                    {
                        value: 'Location',
                        background: 'rgba(0,0,0,0.8)'
                    },
                ]
                const interfaces = [
                        "panel",
                        "update",
                        "submit",
                        "controls",
                        "side-column",
                        "skip",
                        "instruction",
                        "infobar",
                        "topbar",
                        "annotations:menu",
                        "annotations:add-new",
                        "annotations:delete",
                        "annotations:current",
                        "annotations:tabs",
                        "annotations:history",
                        "annotations:view-all",
                        "predictions:menu",
                        "predictions:tabs",
                        "auto-annotation",
                        "edit-history"
                    ]
                const text = "这是一段测试文本这是一段测试文本阖家安康手动滑稽卡号登记卡苍南县阿贾克斯发货单速发动机可塑性你记得康师傅你记得康师傅hi无回复和亢"
                const labels = tags.map((tag) => {
                    return `<Label value="${tag.value}" background="${tag.background}" />`
                }).join('\n')

                const tagView = `
                    <View>
                          <Labels name="label" toName="text">
                          ${labels}
                          </Labels>
                          <Text name="text" value="$text"/>
                    </View>
                `

                const root = document.querySelector('#label-studio');
                const labelStudio = new LabelStudio(root, {
                    config: tagView,
                    interfaces: interfaces,
                    user: {
                        pk: 1,
                        firstName: "James",
                        lastName: "Dean"
                    },
                    task: {
                        annotations: [],
                        predictions: [],
                        id: 1,
                        data: {
                            text: text
                        }
                    }
                });

                labelStudio.on("labelStudioLoad", (LS) => {
                    // Perform an action when Label Studio is loaded
                    const c = LS.annotationStore.addAnnotation({
                        userGenerate: true
                    });
                    LS.annotationStore.selectAnnotation(c.id);
                    console.log("loading...")
                });

                labelStudio.on("submitAnnotation", (LS, annotation) => {
                    // Retrieve an annotation in JSON format
                    console.log(annotation.serializeAnnotation())
                });
            }
        })
    }

    // execute getLabelConfig when page load
    window.onload = function () {
        getLabelConfig();
    }


</script>
</body>

{% endblock %}
