{% extends layout %}
{% block page_body %}
<link href="https://unpkg.com/@heartexlabs/label-studio@1.4.0/build/static/css/main.css" rel="stylesheet">
<script src="https://unpkg.com/@heartexlabs/label-studio@1.4.0/build/static/js/main.js"></script>

<style>
    .back-btn {
        padding: 10px 15px;
        border-radius: 4px;
        border: none;
        background-color: #3498db;
        color: white;
        cursor: pointer;
        width: 80px;
        /* 设置按钮宽度为80px */
        height: 40px;
        padding: 10px;
        font-size: 16px;
    }

    .back-btn:hover {
        background-color: #2980b9;
    }

</style>

<body>
    <div class="btn-group" role="group" style="width: 100px">
        {% for label in labels %}
        <input type="radio" class="btn-check" name="btn-radio-basic" id={{ label }} autocomplete="off">
        <label for={{ label }} type="button" class="btn">{{ label }}</label>
        {% endfor %}
    </div>
    <div id="studio"></div>

    <!-- TODO, 选择标注的labelstudio的前端怎么写需要调研一下 -->
    <script>
        const queryString = window.location.search;

        // 解析查询字符串中的参数
        const urlParams = new URLSearchParams(queryString);
        // 获取特定参数的值
        const question_id = urlParams.get('question_id');
        const task_id = urlParams.get('task_id');
        const risk_level = urlParams.get('risk_level');
        const labeling_method = urlParams.get('labeling_method').str.match(/'([^']+)'/)[1];
        let tags = [];
        let tagView = '';
        let text = '';
        let predictions = [];
        let annotations = [];
        const interfaces = [
            "panel",
            "submit",
            "controls",
            "side-column",
            "skip",
            "instruction",
            "infobar",
            "topbar",
            "annotations:menu",
            "annotations:add-new",
            "annotations:delete",
            "annotations:current",
            "annotations:tabs",
            "annotations:history",
            "annotations:view-all",
            "predictions:menu",
            "predictions:tabs",
            "auto-annotation",
            "edit-history"
        ]

        // 标注方法选择
        var label_select;

        async function render_page() {
            const config = await getLabelConfig();
            const data = await getLabelData();
            const nextPageConfig = await getNextPageConfig();
            if (config) {
                answer = config.A;
                question = config.Q;
                text = question + "\n" + answer;
                userID = config.user_id;
                // const labels = tags.map((tag) => {
                //     return `<Label value="${tag.value}" background="${tag.background}" />`
                // }).join('\n')
                // TODO answer现在假设只有一条，后面需要写一个js代码生成下面几段js代码
                // 判断标注
                const single_dialogs =
                    `<div style=\"max-width: 100%\">
                    <div style=\"clear: both\">
                        <div style=\"display: inline-block; background-color: #fff; border-radius: 12px 12px 12px 0; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${question}
                            </p>
                        </div>
                    </div>
                    <div style=\"clear: both\">
                        <div style=\"float: right; display: inline-block; background-color: #fff; border-radius: 12px 12px 0 12px; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${answer}
                            </p>
                        </div>
                    </div>
                </div>`;
                // rank标注
                const plural_dialogs =
                    `<div style=\"max-width: 100%\">
                    <div style=\"clear: both\">
                        <div style=\"display: inline-block; background-color: #fff; border-radius: 12px 12px 12px 0; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${question}
                            </p>
                        </div>
                    </div>
                    <div style=\"float: right; width: 80%;\">
                        <div>回答1</div>
                        <div style=\"clear: both\">
                            <div style=\"float: right; background-color: #fff; border-radius: 12px 12px 0 12px; padding: 12px 18px; margin: 10px 0; color: rgba(18, 19, 22, 0.50); width: calc(100% - 36px)\">
                                <p>
                                    ${answer}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>`;
                // boxes标注
                const box_dialog =
                    `<div style=\"max-width: 100%\">
                    <div style=\"clear: both\">
                        <div style=\"display: inline-block; background-color: #fff; border-radius: 12px 12px 12px 0; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${question}
                            </p>
                        </div>
                    </div>
                    <div style=\"clear: both\">
                        <div style=\"float: right; display: inline-block; background-color: #fff; border-radius: 12px 12px 0 12px; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                            <p>
                                ${answer}
                            </p>
                        </div>
                    </div>
                </div>`;
                // 判别选项
                const risk_dialog =
                    `<div style=\"max-width: 100%\">
                        <div style=\"clear: both\">
                            <div style=\"display: inline-block; background-color: #fff; border-radius: 12px 12px 12px 0; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                                <p>
                                    ${question}
                                </p>
                            </div>
                        </div>
                        <div style=\"clear: both\">
                            <div style=\"float: right; display: inline-block; background-color: #fff; border-radius: 12px 12px 0 12px; padding: 12px 18px; margin: 10px 0; max-width: 80%; color: rgba(18, 19, 22, 0.50)\">
                                <p>
                                    ${answer}
                                </p>
                            </div>
                        </div>
                    </div>`;

                const first_label =
                    `
               <HyperText name="dialog">${single_dialogs}</HyperText>

              <Header value="请判断回答是否涉及风险"/>
              <Choices name="rating" choice="single-radio" toName="dialog" showInline="true">
                  <Choice value="正常回答"/>
                  <Choice value="风险回答"/>
              </Choices>
                `
                const second_label =
                    `
                                    <HyperText name="plural_dialogs">${plural_dialogs}</HyperText>
                    <Header value="请对回答做出排序"/>
                    <Text name='a' value="输入 0 为安全回答，输入 1、2…等风险程度由低到高；排序序号可以重复"/>
                    <Style> .fancy-border { display: flex; align-items: center; gap: 10px }</Style>
                    <View className="fancy-border">
                        <Text name='b' value="回答1"/>
                        <Number name="number" toName="plural_dialogs" />
                    </View>
                    <View className="fancy-border">
                        <Text name='c' value="回答2"/>
                        <Number name="number1" toName="plural_dialogs" />
                    </View>
                `
                const third_label =
                    `
                    <HyperText name="box_dialog">${box_dialog}</HyperText>
                    <Header value="请标注风险内容"/>
                    <Labels name="tag" toName="box_dialog">
                        <Label value="国家安全风险" background="#BB1919"/>
                        <Label value="个人权力风险" background="#1C19BB"/>
                        <Label value="合法合规风险" background="#F1D22E"/>
                        <Label value="公平公正风险" background="#26BB19"/>
                        <Label value="可信可控风险" background="#6A19BB"/>
                    </Labels>
                `

                // 定义四种风险维度的html
                const risk_label_none =
                    `
                <HyperText name="risk_dialog">${risk_dialog}</HyperText>
                <Header value="请判断回答是否涉及风险"/>
                <Choices name="rating" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="正常回答"/>
                    <Choice value="风险回答"/>
                </Choices>
                `


                const risk_label_first_level =
                `
                <View>
                <HyperText name="risk_dialog">${risk_dialog}</HyperText>
                <Header value="请判断回答涉及风险程度"/>
                <Choices name="risk_level" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="高度敏感"/>
                    <Choice value="中度敏感"/>
                    <Choice value="低度敏感"/>
                    <Choice value="中性词"/>
                </Choices>
                <Header value="请判断回答问题涉及风险类型"/>
                <Choices name="risk_type" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="领导人相关" />
                    <Choice value="敏感人物或组织"/>
                    <Choice value="政治事件"/>
                    <Choice value="负面言论"/>
                    <Choice value="舆情"/>
                    <Choice value="其他"/>
                </Choices>
            </View>
                `

                const risk_label_second_level =
                `
                <View>
                <HyperText name="risk_dialog">${risk_dialog}</HyperText>
                <Header value="请判断回答涉及风险程度"/>
                <Choices name="risk_level" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="高度敏感"/>
                    <Choice value="中度敏感"/>
                    <Choice value="低度敏感"/>
                    <Choice value="中性词"/>
                </Choices>
                <Header value="请判断回答问题涉及风险类型"/>
                <Choices name="risk_type" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="领导人相关" />
                    <Choice value="敏感人物或组织"/>
                    <Choice value="政治事件"/>
                    <Choice value="负面言论"/>
                    <Choice value="舆情"/>
                    <Choice value="其他"/>
                </Choices>
                <Header value="领导人相关子标签"/>
                <Choices name="risk_type_leader" choice="multiple" toName="risk_dialog" showInline="true">
                    <Choice value="一号领导相关"/>
                    <Choice value="毛泽东相关"/>
                    <Choice value="邓小平相关"/>
                    <Choice value="江泽民相关"/>
                    <Choice value="常委领导"/>
                    <Choice value="现任国家领导"/>
                    <Choice value="历任国家领导"/>
                    <Choice value="外国领导人"/>
                    <Choice value="其他领导"/>
                </Choices>

                <Header value="敏感任务"/>
                <Choices name="risk_type_person" choice="multiple" toName="risk_dialog" showInline="true">
                    <Choice value="落马官员"/>
                    <Choice value="知名英烈"/>
                    <Choice value="异见人士"/>
                    <Choice value="台独人物"/>
                    <Choice value="港独人物"/>
                    <Choice value="疆独任务"/>
                    <Choice value="辱华人物"/>
                    <Choice value="反动媒体"/>
                    <Choice value="反动组织"/>
                    <Choice value="邪教"/>
                    <Choice value="恐怖组织"/>
                    <Choice value="其他"/>
                </Choices>

                <Header value="政治事件"/>
                <Choices name="risk_type_policy" choice="multiple" toName="risk_dialog" showInline="true">
                    <Choice value="六四事件"/>
                    <Choice value="七五事件"/>
                    <Choice value="文革"/>
                    <Choice value="三年困难时期"/>
                    <Choice value="大跃进"/>
                    <Choice value="计划生育"/>
                    <Choice value="占中"/>
                    <Choice value="反送中"/>
                    <Choice value="白纸革命"/>
                    <Choice value="太阳花运动"/>
                    <Choice value="修宪"/>
                    <Choice value="港独"/>
                    <Choice value="疆独"/>
                    <Choice value="藏独"/>
                    <Choice value="其他"/>
                </Choices>

                <Header value="负面言论"/>
                <Choices name="risk_type_negative" choice="multiple" toName="risk_dialog" showInline="true">
                    <Choice value="反动分裂"/>
                    <Choice value="政治负面"/>
                    <Choice value="社会负面"/>
                    <Choice value="种族主义"/>
                    <Choice value="恐怖主义"/>
                    <Choice value="法西斯"/>
                    <Choice value="其他"/>
                </Choices>

                <Header value="舆情"/>
                <Choices name="risk_type_claim" choice="multiple" toName="risk_dialog" showInline="true">
                    <Choice value="灾难事故"/>
                    <Choice value="毒疫苗"/>
                    <Choice value="新冠疫情"/>
                    <Choice value="四通桥事件"/>
                    <Choice value="其他"/>
                </Choices>

                <Header value="其他"/>
                <Choices name="risk_type_other" choice="single-radio" toName="risk_dialog" showInline="true">
                    <Choice value="null"/>
                </Choices>
            </View>
                `

                const label_list = [first_label, second_label, third_label, risk_label_none];
                const label_selects = ['判断标注', '排序标注', '框选标注', '风险判别'];
                alert(label_list[label_selects.indexOf(labeling_method[0])]);
                if(risk_level != 'None'){
                    if (risk_level == '一级风险'){
                        tagView = `
                        <View>

                            ${label_list[label_selects.indexOf(labeling_method[0])]}
                        </View>
                        `
                    }
                }
                else{
                tagView = `
                <View>
                    {# 判断标注 #}
                    ${label_list[label_selects.indexOf(label_select)]}
                </View>
            `}
            }
            if (data) {
                annotations = data.annotations;
                predictions = data.predictions;
            }
            const studio = document.querySelector('#label-studio')
            if (studio) {
                studio.remove()
            }
            const root = document.createElement('div');
            root.id = 'label-studio'
            document.getElementById('studio').append(root)
            const labelStudio = new LabelStudio(root, {
                config: tagView,
                interfaces: interfaces,
                user: {
                    pk: 1,
                    firstName: userID,
                    lastName: ' ',
                },
                task: {
                    annotations: annotations,
                    predictions: predictions,
                    id: 1,
                    data: {
                        text: text
                    }
                }
            });
            labelStudio.on("labelStudioLoad", (LS) => {
                // Perform an action when Label Studio is loaded
                const c = LS.annotationStore.addAnnotation({
                    userGenerate: true
                });
                LS.annotationStore.selectAnnotation(c.id);
                console.log("loading...")
            });

            labelStudio.on("submitAnnotation", (LS, annotation) => {
                // Retrieve an annotation in JSON format
                console.log(annotation.serializeAnnotation())

            });
        }

        function select(name) {
            label_select = name
            document.getElementById(name).checked = true
            render_page()
        }
        // TODO 初始态，标注方法列表的第一个
        // select('判断标注')

        $("input:radio[name='btn-radio-basic']").change((e) => {
            select(e.target.id)
        });


        window.onload = function () {
            render_page();
        }

        async function getLabelData() {
            const rsp = await fetch('/admin/labelpage/labeling/get_data', {
                method: 'post',
            })
            return rsp.json();
        }

        async function getLabelConfig() {
            const rsp = await fetch('/admin/labelpage/labeling/get_config', {
                method: 'post',
                body: JSON.stringify({ "task_id": task_id, "question_id": question_id }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            return rsp.json();

        }


        async function getNextPageConfig() {
            const rsp = await fetch('/admin/labelpage/labeling/next', {
                method: 'post',
                body: JSON.stringify({
                    "current_question_index": question_id - 1,
                    "task_id": task_id,
                    "labeling_method": '{{labels}}',
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            return rsp.json();
        }

    </script>



    <button id="back" class="back-btn">返回</button>
    <script>
        const briefDataUrl = '/admin/labelpage/display/' + '{{task_pk_value}}';
        const backBtn = document.getElementById('back');
        backBtn.addEventListener('click', () => {
            location.href = briefDataUrl;
        });

    </script>
</body>

{% endblock %}
