{% extends layout %}
{% block page_body %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">新建评测方案</h3>
        </div>
        <div class="card-body border-bottom py-3">
            <form method="post" action="{{ request.app.admin_path }}/{{ resource }}/epm_create"
                  enctype="application/x-www-form-urlencoded">

                <div class="mb-3 row">
                    <label class="col-2 col-form-label">方案名称</label>
                    <div class="col-3">
                        <input required type="" class="form-control" name="plan_name"
                               placeholder="请输入" value="">
                    </div>

                </div>
                <!--                <div class="mb-3 row">-->
                <!--                    <label class="form-label">评分方式</label>-->
                <!--                    <div class="col-3">-->
                <!--                        <input required type="" class="form-control" name="plan_content"-->
                <!--                               placeholder="" value="">-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="mb-3 row">
                    <div class="col-2 col-form-label">评分方式</div>
                    <div class="col-3">
                        <label class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="score_way"
                                   value="0"
                                   checked>
                            <span class="form-check-label">系统评分</span>
                        </label>

                        <label class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="score_way"
                                   value="1"
                            >
                            <span class="form-check-label">人工评分</span>
                        </label>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-2 col-form-label">选择评测集</label>
                    <div class="col-4">
                        <div class="row">
                            <label class="col-4 col-form-label">评测集名称</label>
                            <div class="col-8">
                                <div class="input-icon">
                                    <input type="text" name="plan_content" value="" class="form-control"
                                           placeholder="Search…">
                                    <span class="input-icon-addon">
                                  <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                       viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                       stroke-linecap="round" stroke-linejoin="round"><path stroke="none"
                                                                                            d="M0 0h24v24H0z"
                                                                                            fill="none"></path><path
                                          d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path
                                          d="M21 21l-6 -6"></path></svg>
                                </span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label class="col-4 col-form-label">数据内容</label>
                            <div class="col-8">
                                <div class="input-icon">
                                    <input type="text" name="plan_content" value="" class="form-control"
                                           placeholder="Search…">
                                    <span class="input-icon-addon">
                                  <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                       viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                       stroke-linecap="round" stroke-linejoin="round"><path stroke="none"
                                                                                            d="M0 0h24v24H0z"
                                                                                            fill="none"></path><path
                                          d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path
                                          d="M21 21l-6 -6"></path></svg>
                                </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-8 offset-2">
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap datatable">
                                    <thead>
                                    <tr>
                                        <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox"
                                                               aria-label="Select all invoices" id="checkbox-select-all"
                                        ></th>
                                        <th>评测集</th>
                                        <th>风险类型</th>
                                        <th>二级类型</th>
                                        <th>三级类型</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if datasets %}
                                    {% for ds in datasets %}
                                    <tr>
                                        <td>
                                            <input data-id="{{ ds.id }}" data-risk-type="{{ ds.risk_type }}"
                                                   data-second-type="{{ ds.risk_second_type }}"
                                                   data-third-type="{{ ds.risk_third_type }}"
                                                   class="form-check-input m-0 align-middle checkbox-select-item"
                                                   type="checkbox">
                                        </td>
                                        <td>{{ ds.name }}</td>
                                        <td>{{ ds.risk_type }}</td>
                                        <td>{{ ds.risk_second_type }}</td>
                                        <td>{{ ds.risk_third_type }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-2 col-form-label">风险类型统计</label>
                    <div class="col-8">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">风险类型</th>
                                <th scope="col">数据条数</th>
                                <th scope="col">占比</th>
                                <th scope="col">设置权重</th>
                            </tr>
                            </thead>
                            <tbody id="statistic_tbody">
<!--                            <tr>-->
<!--                                <th scope="row">国家安全</th>-->
<!--                                <td>666</td>-->
<!--                                <td>66.6%</td>-->
<!--                                <td>80%</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">个人权利</th>-->
<!--                                <td>333</td>-->
<!--                                <td>33.3%</td>-->
<!--                                <td>20%</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">总计</th>-->
<!--                                <td>999</td>-->
<!--                                <td>100%</td>-->
<!--                                <td>100%</td>-->
<!--                            </tr>-->
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="form-footer">
                    <button type="submit" name="save" class="btn btn-primary">{{ _('save') }}</button>
                    <button type="submit" name="save_and_add_another"
                            class="btn btn-info mx-2">{{ _('save_and_add_another') }}
                    </button>
                    <button type="button" class="btn btn-secondary"
                            onclick="history.back()">{{ _('return') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
        var groupedData = {};
        function statistics() {
             $("#statistic_tbody").empty();
            let dss = $('.checkbox-select-item:checked').map(function () {
                return {"id": $(this).attr('data-id'),
                "risk_type": $(this).attr('data-risk-type'),
                "second_type": $(this).attr('data-second-type'),
                "third_type": $(this).attr('data-third-type'),
                }
            }).get();

            groupedData = dss.reduce((result, item) => {
                    const key = item.risk_type;
                    if (!result[key]) {
                        result[key] = [];
                    }
                    result[key].push(item);
                    return result;
                }, {});

            for (const key in groupedData) {
                if (groupedData.hasOwnProperty(key)) {
                    const group = groupedData[key];
                    console.log(`分组 ${key}:`);
                    console.log(group);
                    var tr = $("<tr></tr>");
                    var td = $("<td scope='row'></td>").text(key);
                    tr.append(td);
                    for (item in group) {
                        tr.append($("<td></td>").text(group.length));
                        var percent = (group.length / dss.length * 100).toFixed(1) + "%";
                        tr.append($("<td></td>").text(percent));
                        tr.append($("<td '></td>").append($("<input class='form-control' style='width: 50px;' required />")));
                        $("#statistic_tbody").append(tr);
                    }

                }
            }

        }

        let checkbox = $('#checkbox-select-all');

        checkbox.change(function () {
            let checked = checkbox.prop('checked');
            $('.checkbox-select-item').prop("checked", checked);
            statistics()
        });

        $('.checkbox-select-item').change(function () {
<!--            let length = $('.checkbox-select-item:checked').length;-->
            statistics()
        });



















</script>
{% endblock %}
