<div class="card">
    <div class="card-body">
        <h3 class="card-title">Model Detail</h3>
        <div class="datagrid">
          <div class="datagrid-item">
            <div class="datagrid-title">模型名称</div>
            <div class="datagrid-content">{{ value.model_detail.name }}</div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">模型类型</div>
            <div class="datagrid-content">{{ value.model_detail.model_type }}</div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">模型版本</div>
            <div class="datagrid-content">{{ value.model_detail.version }}</div>
          </div>
        </div>
    </div>
    <!-- Card footer -->
    <div class="card-footer">
    </div>
</div>