<select required class="form-select" id="model">
    <option selected="selected" disabled="disabled"  style='display: none' value=''></option>
    {% for item in model_list %}
        <option value="{{ item.id }}">{{ item.name }}</option>
    {% endfor %}
</select>
<script>
    /*基本思路：
    1、创建一个隐藏的option，添加到select的最后；
    2、每次选中的值都存入这个option，如果已经选中，当再次选择时，就会删掉；
    3、若已选择了值，就将隐藏的option的selected属性设置为true，以便获取多选内容
    */
    let values_id = []; //存储选择的内容id
    let values_name = []; //存储选择的内容name
    let opts = []; //存储option标签
    let select = document.getElementById("model");
    for(let i=0;i<select.length;i++){
        opts.push(select.item(i));
    }

    let optionHide = document.createElement('option');
    optionHide.hidden=true;
    select.appendChild(optionHide);

    select.addEventListener('input',function (){
        let value_id = this.options[this.selectedIndex].value;
        let value_name = this.options[this.selectedIndex].label;
        this.options[this.selectedIndex].style="background: #206bc4";
        let index = values_id.indexOf(value_id);
        if(index>-1){
            values_id.splice(index,1);
            values_name.splice(index,1);
            opts.filter(function (opt){
                if(opt.value === value_id){
                    opt.style="";
                }
            });
        }else {
            values_id.push(value_id);
            values_name.push(value_name)
        }
        this.options[this.length-1].text=values_name.toString();

        if(values_name.length>0){
            this.options[this.length-1].selected=true;
        }else {
            this.options[0].selected=true;
        }
    });
</script>
