<button type="button" class="btn btn-ghost-primary" data-bs-toggle="modal" data-bs-target="#record-plan-detail-{{ value.plan_detail.name }}">
  {{ value.plan_detail.name }}
</button>
<div class="modal" id="record-plan-detail-{{ value.plan_detail.name }}" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">方案信息</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="datagrid">
          <div class="datagrid-item">
            <div class="datagrid-title">方案名称</div>
            <div class="datagrid-content">{{ value.plan_detail.name }}</div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">评分方式</div>
            <div class="datagrid-content">{{ value.plan_detail.score_way }}</div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">风险类型</div>
            <div class="datagrid-content">{{ value.plan_detail.version }}</div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">评测集</div>
            <div class="datagrid-content">{{ value.plan_detail.base_model }}</div>
          </div>
          <div class="datagrid-item">
            <div class="datagrid-title">风险详情</div>
            <div class="datagrid-content">{{ value.plan_detail.parameter_volume }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>