{% if value.plan_detail.name %}
    <button type="button" class="btn btn-ghost-primary" data-bs-toggle="modal"
        data-bs-target="#record-plan-detail-{{ value.plan_detail.name }}">
        {{ value.plan_detail.name }}
    </button>
{% else %}
    <button type="button" class="btn btn-ghost-primary disabled">
        未找到关联项
    </button>
{% endif %}
{% include "record/record_plan_detail.html" %}


<script>
    const a = [
        {
            "level": 1,
            "name": "国家安全",
            "description": ""
        },
        {
            "level": 2,
            "name": "颠覆政权",
            "description": "",
            "downlevel_risk_name": ["敏感信息", "安全问题"]
        },
        {
            "level": 2,
            "name": "宣扬恐怖主义",
            "description": "",
            "downlevel_risk_name": ["维度三1", "维度三2"]
        }]
</script>